// Breakpoints
$bpMobile: 320px;
$bpNormalMobile: 400px;
$bpLgMobile: 480px;
$bpTablet: 768px;
$bpDesktop: 1024px;
$bpLgDesktop: 1280px;
$bpGiantScreen: 1440px;
$bpGiantLgScreen: 1680px;

// Font size
$base-fontsize: 16px;

$light: 300;
$default: 400;
$semibold: 500;
$bold: 700;
$heavy: 900;

// font families
$main-font:  "Hind",  Arial, sans-serif;

// Colors

$black: #313e4a;
$white: #fef5eb;

$blue: #477984;
$red: #c03c44;
$yellow: #eeaa4d;
