$fontPath: './assets/icomoon/fonts';

@font-face {
  font-family: 'icomoon';
  font-weight: normal;
  font-style: normal;

  src: url($fontPath+'/icomoon.eot');
  src: url($fontPath+'/icomoon.eot?6q1lit#iefix')
      format('embedded-opentype'),
    url($fontPath+'/icomoon.ttf?6q1lit') format('truetype'),
    url($fontPath+'/icomoon.woff?6q1lit') format('woff'),
    url($fontPath+'/icomoon.svg?6q1lit#icomoon')
      format('svg');
}

[class^='icon-'],
[class*=' icon-'] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  font-weight: normal;
  font-style: normal;
  font-variant: normal;
  line-height: 1;

  vertical-align: initial;
  text-transform: none;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  &:before {
    font-family: 'icomoon' !important;
    font-weight: normal;
    font-style: normal;
    font-variant: normal;
    line-height: 1;

    vertical-align: initial;
    text-transform: none;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
}

/* =======================================================================
>> Imported Icomoon Icons
========================================================================== */

.icon-angle-left:before {
  content: "\f104";
}
.icon-angle-right:before {
  content: "\f105";
}
.icon-angle-up:before {
  content: "\f106";
}
.icon-angle-down:before {
  content: "\f107";
}
